@include mediaSm {
  .b-group {
    margin-top: 30%;

    h3 {
      display: none;
    }
  }
  .help-content {
    margin-top: 30%;
  }

  .display-2 {
    font-size: 2.5rem !important;
  }

  .gifanim {
    width: 80%;
  }

  .progress {
    height: 10px;
  }
}

@include mediaMd {

  .menu {
    width: 100%;
    .nav-item a {
      font-size: 2rem;
    }
  }

  header h2 {
    font-size: 1.5rem;
  }

  .b-group {
    margin-top: 25%;

    h3 {
      display: none;
    }
  }
  .help-content {
    margin-top: 25%;
  }

  .display-2 {
    font-size: 3rem !important;
  }

  .gifanim {
    width: 95%;
  }

  .progress {
    height: 10px;
  }
}

@include mediaLg {
  .b-group {
    margin-top: 20%;
  }
  .help-content {
    margin-top: 20%;
  }

  .gifanim {
    width: 95%;
  }

}

@include mediaXl {
  .b-group {
    margin-top: 25%;
  }
  .help-content {
    margin-top: 15vh;
  }

}